*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    scroll-behavior: smooth;
    list-style-type: none;
    text-decoration: none;
}
body{
    text-align: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(BUGubat.jpg);
    background-size: cover;
    padding: 0 8%;
    position: relative;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
nav{
    flex: 1;
}
nav ul li{
    list-style: none;
    display: inline-block;
    align-items: center;
    margin-inline: 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}
h1{
    font-size: 50px;
    color: orange;
    margin-top: 50px;
}
h1::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: #fff;
    margin-top: 3.5%;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{
        width: 300px;
    }
    50%{
        width: 800px;
    }
    100%{
        width: 300px;
    }
}
.filter-options{
    width: 500px;
    background: #fff;
    margin: 0 auto 0;
    border-radius: 5px;
}
.row{
    margin-top: 10px;
    display: flex;
    padding: 10px 20px;
}
input{
    flex: 1;
    height: 30px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 18px;
    color: #333;
}
button{
    background: transparent;
    border: 0;
    outline: 0;
}
button .fa-solid{
    width: 25px;
    color: #555;
    font-size: 22px;
    cursor: pointer;
}
::placeholder{
    color: #555;
}
.result-box ul{
    border-top: 1px solid #999;
    padding: 15px 10px;
}
.result-box ul li{
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
}
.result-box ul li:hover{
    background: #e9f3ff;
}
.result-box{
    max-height: 100px;
    overflow-y: scroll;
}
.bh-gallery{
    margin-top: 20px;
    width: 90%;
    margin-left: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
.pic{
    position: relative;
    height: 230px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px lightgray;
    cursor: pointer;
    transition: 5s;
}
.pic img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: .5s;
}
.pic::before{
    content: "STYLER DORMITORY";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    margin-top: -100px;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;
    z-index: 1;
}
.pic:after{
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    height: 0;
    background-color: rgba(0,0,0,.4);
    transition: .3s;
}
.pic:hover::after{
    height: 100%;
}
.pic:hover::before{
    margin-top: 0;
    opacity: 1;
}